Werkzeug   # 1.0.1
xmltodict  # 0.12.0

pycryptodome  # 3.14.1
base58        # 1.0.3
ecdsa         # 0.16.1

redis      # 3.5.3
greenlet   # 1.1.2
gevent     # 21.8.0

startrek==2.2.1
tcp==2.2.1

mkm==2.2.1
dkd==2.2.1
dimp==2.2.1
dimsdk==2.2.1
dimplugins==2.2.1
dimples==1.3.1
