Werkzeug   # 1.0.1
xmltodict  # 0.12.0

pycryptodome  # 3.14.1
base58        # 1.0.3
ecdsa         # 0.16.1

redis      # 3.5.3
greenlet   # 1.1.2
gevent     # 21.8.0

startrek==1.1.2
tcp==1.1.2

mkm==1.0.2
dkd==1.0.2
dimp==1.0.3
dimsdk==1.0.3
dimplugins==1.0.2
dimples==0.5.1
